body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgb(0, 190, 149);

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rock Salt', cursive;
  color: rgb(0, 190, 149);
}

a {
  color: rgb(0, 190, 149);
  transition: filter 1s;

  &:hover {
    color: rgb(0, 190, 149);
    filter: brightness(80%);
  }
}

.btn{
  outline: none;
  box-shadow: none !important;
}